---

title: 3D SANDBOX HOW IT WORKS
date: 2018-04-20 04:20 PDT
category: electronics

---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/FHqAtkwYdqs?rel=0&controls=0&showinfo=0", :width => "560"}

%h2.project__heading

%p.project__para 

%p.external_link
	= link_to "MOVING STILL - Santiago Caicedo", "http://santisan.free.fr/moving_still/tusc1.htm"
