---

title: about me
date: 2018-04-16 20:17 PDT
tags: 

---

%div.sb__single__image
	= tag :img, :src => "/assets/images/sb1.jpg", class:'single__image'

%p.project__para-1 My name is Shaurjya Banerjee and I am a kinetic sculptor, fabricator and electronics designer from Calcutta, India. 

%p.project__para I am an interdisciplinary artist and my work is centered around the intersection of old and new media technologies and provoking conversations about the nature of sight and sound and their relationship to technology and the human sensory experience.

%p.project__para I graduated from CalArts with a Bachelor of Fine Arts in Music Technology in 2018, during which I studied extensively under the Technical Direction and Experimental Animation faculty. During this time I had the honor of being an apprentice to Trimpin - internationally renowned kinetic sculptor, sound artist and inventor based in Seattle.

%p.project__para My hobbies are hiking, modular synthesizers and astrophotography. I am passionate about making and designing things and learning about the architecture of our material world.

