---

title: about me
date: 2018-04-16 20:17 PDT

---

%div.sb__single__image
	= tag :img, :src => "/assets/images/sb1.jpg", class:'single__image'

%p.project__para-1 My name is Shaurjya Banerjee and I am a kinetic sculptor, fabricator, electronics designer, drone pilot and amateur astronomer based in Los Angeles, California. 

%p.project__para I am an multidisciplinary artist and my work is centered around the intersection of old and new media technologies and provoking conversations about the nature of sight and sound and their relationship to technology and the human sensory experience.

%p.project__para I graduated from CalArts with a Bachelor of Fine Arts in Music Technology in 2018, during which I studied extensively under the Technical Direction and Experimental Animation faculty. During this time I had the honor of being an apprentice to Trimpin - internationally renowned kinetic sculptor, sound artist and inventor based in Seattle, who nurtured my fascination with mechanical and electrical engineering within the context of art and technology.

%p.project__para I have been a self educated maker and tinkerer since my childhood and have been passionate about finding out how things work for as long as I can remember. These skills have allowed me to serve as Technical Designer and Control Systems Technologist at Mindrix, Inc from 2018 - 2021.

%p.project__para My hobbies are camping, flying drones, making videos, modular synthesizers and astrophotography. I am passionate about making and designing things and learning about the architecture of our material world.

