---

title: APV CAM HOW IT WORKS
date: 2018-04-10 18:24 PDT
category: electronics
featured_img: "/assets/images/projects/apvcam/apvcam1.jpg"
---

%h2.project__heading APVCam Construction

%p.project__para The APVCam uses two NEMA-17 Stepper Motors to provide users very precise control on the pan and roll axes of the camera used for video feedback. The camera used in APVCam is a small and lightweight security camera normally used for CCTV applications. I chose this kind of camera because of its size, cheapness and ability to directly output composite video.

//APV Cam Side Shot
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a1.jpg", class:'single__image'

%p.project__para To control the APVCam, I built up some simple control circuitry - a few momentary buttons for manual jog, an assignable cycle start button, switch and a knob. APVCam’s controller is built using Arduino, with motor control duties handled by the Adafruit Motor Shield V2. All of this control circuitry is housed in the APV Cam Controller (pictured below)

//APV Cam and Controller
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a2.jpg", class:'single__image'

%p.project__para All of the parts for APVCam are machined from 6061 aluminium. Pictured below is the APVCam camera holder, which uses four 10-32 UNF screws to securely hold the camera and to center the camera on APVCam's roll axis. This camera centering system is inspired by the jaws of a 4 jaw chuck on a lathe.

//APV Cam Camera Holder
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a3.jpg", class:'single__image'

%p.project__para Each corner of the baseplate of APVCam has been drilled and tapped for 10-32 UNF fasteners, which are used as leveling screws to align APVCam to the plane of its subject. The leveler screws are preloaded by springs for stability. These allow for some adjustability to level or tilt the whole mechanism as needed.

//APV Cam Leveler Screw
%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvcam/annotated/apvcam_a4.jpg", class:'single__image'

//----------------------------------------------------------------------------------------------------------------------------	

//APVFeedBakE Video
%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/imfJ_a4Fl4Y?rel=0&controls=0&showinfo=0", :width => "560"}
