---

title: APVFeedBakE HOW TO
date: 2018-04-10 18:24 PDT
category: electronics
---

%h2.warning WARNING!!!

%p.warning Opening and modifying a Cathode Ray Tube (CRT) Television is an extremely dangerous process. CRTs can store charge for months and sometimes even years after they have been unplugged. Please exercise extreme caution and working on a CRT. This is NOT a step by step guide to making modifications to a CRT Television. If you have no prior experience with opening or operating on a CRT, please do not use this as a guide. I have provided links to other resources at the end of this page that provide an introductory explanation of the parts of a CRT TV, and CRT related safety. 


%h2.project__heading Safety Procedures

%p.project__para One of the most important safety measures I take on every CRT I have ever opened is to leave yourself a number of safety warnings. Before opening or working on a CRT, always make sure the television has been unplugged! I like to put a ‘DID YOU UNPLUG IT?’ label on all CRT Tubes when I first open them, as well as on the power cord itself. Labelling CRT power cords prevent frustrations when inspecting a well hidden power strip to unplug a television. 

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/apvtv8.jpg", class:'single__image'

%p.project__para If you plan on working on a CRT, it is a very good idea to make yourself a dedicated discharge tool instead of reaching for the nearest flathead screwdriver. If you have access to a machine shop, it is advisable to drill and tap a hole with a set screw to attach your grounding wire securely to your screwdriver.

%h2.project__heading APVCam Construction

%p.project__para

%p.project__para

%h2.project__heading APVCam Firmware

%p.project__para

%p.project__para


%h2.project__heading APVTV Construction

%p.project__para

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/apvtv/annotated/apvtv_a1.jpg", class:'single__image'

%p.project__para-8

%h2.project__heading-3 APVTV Firmware

%p.project__para-9

%p.project__para-10