---

title: apvfeedbake
date: 2018-03-29 21:57 PDT
category: sculptures
featured_imgs: ["/assets/images/thumbnails/sculptures/apvcam2.png", "/assets/images/thumbnails/sculptures/apvtv2.png"]
---


%p.project__para-1 APVFeedBakE or the Autonomous Physical Video Feedback Expropriator is a procedural and autonomous or user controller physical video feedback system. It makes use of a number of modified and de-constructed Cathode Ray Tube monitors and moving cameras to create a morphing audio visual feedback landscape.

%p.project__para-2 APVFeedBakE attempts at repurposing antiquated video playback and capture devices to pose an inquiry into the nature of human sight, memory and perception and the idea of autonomy in the artmaking process.

%p.project__para-3 APVFeedBakE repurposes audio ampilifiers and hand wound electro magnets to manipulate Cathode Ray Tube monitors, to illustrate their inner workings. Additionally, all Cathode Ray Tube monitors have been re-housed such that the user may see their internals.

%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/apvcam/apvcam#{index}.jpg",class:'project__image'

%div.project__image-container
	- 1.upto(12) do |index|
		= tag :img, src: "/assets/images/projects/apvtv/apvtv#{index}.jpg",class:'project__image'