---

title: beaver imaging devices
date: 2018-04-20 04:20 PDT
category:

---

%p.project__para-1 The Beaver Imaging Controller is an open source Arduino-based device for camera control and camera based motion control. It is an in-progress project that aims to create a user-contributed set of features that can be used for a wide range of imaging applications.

%p.project__para-2 Currently, the Beaver Imaging Controller supports the OpenBuilds C-Beam Linear Motion System driven by a TB6600 Stepper Motor Driver, but this system may be adapted for use with a wide range of linear motion systems and stepper motor drivers.

