---

title: WHOLESOME FPV BETA95X
date: 2020-05-26 21:43 PDT
category: drones
featured_img: "/assets/images/projects/drones/beta1.jpg"

---


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/drones/beta1.jpg", class:'single__image'

%p.project__para-1 The Beta95X is a very tiny cinematic platform for close quarters proximity flying. This tiny drone paired with the SMO x Insta360 4K camera - which is essentially a stripped down OneR - is a capable cinematic platform which weighs less than 250 grams.


%div.project__image-container
	- 2.upto(4) do |index|
		= tag :img, src: "/assets/images/projects/drones/beta#{index}.jpg",class:'project__image'

%p.project__para These are the parts used in the Wholesome FPV 95X Cinewhoop -

%p.project__para Beta95X V3 Frame Kit
%p.project__para F4 AIO 20A Toothpick Flight Controller V4
%p.project__para BetaFPV 1106 3800KV Brushless Motors
%p.project__para Gemfan D63 5-Blade Propellers
%p.project__para Crossfire Nano RX
%p.project__para EOS FPV Camera
%p.project__para M02 25-350mW 5.8G Video Transmitter
%p.project__para Air 5.8GHz Antenna RHCP
%p.project__para CNHL 650mAh 4S LiPo Battery
%p.project__para SMO 4K Camera
