---

title: WHOLESOME FPV CARDBOARD QUAD
date: 2020-05-26 21:43 PDT
category: drones
featured_img: "/assets/images/projects/drones/cardboard1.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/drones/cardboard1.jpg", class:'single__image'

%p.project__para-1 The Cardboard Quad is an experimental drone designed and built from the ground up to experiment with improvised composite materials - cardboard and two part epoxy resin. 

%div.project__image-container
	- 2.upto(4) do |index|
		= tag :img, src: "/assets/images/projects/drones/cardboard#{index}.jpg",class:'project__image'

%p.project__para The drone is perfectly capable of being a cinematic platform for GoPros and 360 cameras. The drones cinematic capabilities are showcased in these two videos -


%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/z_iL6tzqAOU", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/bqs22bFBxfU", :width => "560"}

%p.project__para We documented our entire process to share this method of building drones with the FPV community. We believe this is actually a viable technique of building FPV drone frames - lightweight and resilient enough to hold up to some light crashing. Here is the video series showing in detail how we made the Cardboard Quad -

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/3ag6LMobAUU", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/XRsAyQc9gZ0", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/SBuJZxB3Ojg", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/rPKEnztOE5I", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/98c0ebihHIQ", :width => "560"}

%p.project__para These are the parts used in the Wholesome FPV Cardboard Quad -

%p.project__para Betaflight F7 Flight Controller 
%p.project__para Holybro Tekko32 45A 4-in1 ESC 
%p.project__para Racerstar 2205 2300kV Brushless Motors 
%p.project__para Ethix S3 Watermelon Propellers
%p.project__para Goldbatt 1500mAh 4S LiPo Battery 
%p.project__para RunCam Swift 2 FPV Camera 
%p.project__para Team Legit Cloverleaf RHCP 5.8GHz Antenna 
%p.project__para FrSky R-XSR Receiver

