---

title: STAR CLUSTERS
date: 2021-10-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/pleiades.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/pleiades.jpg", class:'single__image'

%p.project__para-1 The Pleiades

%p.project__para-1 The Pleiades or Seven Sisters is one of the most instantly recognizable shapes in the night sky. It is an open cluster of more than a thousand stars, but we only see its brightest members. To me it always looks like a question mark. The Pleiades have captivated humans from ancient times to the modern. The Pleiades feature prominently in the starlore of Greek, Druid and Native American astronomical traditions.

%p.project__para-1 The Pleiades is 444 light years from Earth

%p.project__para-1 Shot from Templin Highway, California October 16th, 2020

%p.project__para-1 The Pleiades - M45

%p.project__para-1 Telescope - Explore Scientific ED80
%p.project__para-1 Mount - Skywatcher HEQ5 Pro
%p.project__para-1 Camera - Canon Rebel T6i
%p.project__para-1 Aperture - f/6
%p.project__para-1 Shutter - 30 seconds
%p.project__para-1 ISO - 800

%p.project__para-1 33 light frames | 9 dark frames

%p.project__para-1 16.5 minutes total integration time

%p.project__para-1 Images calibrated and stacked in AstroPixelProcessor


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/double_cluster.jpg", class:'single__image'

%p.project__para Double Cluster

%p.project__para-1 The Double Cluster in the constellation Perseus is a pair of open clusters that are close to each other and approximately 7500 light years from Earth. There are more than 300 blue white supergiant stars in each of the clusters, as well as some prominent red supergiants as well.

%p.project__para-1 Shot from Stovepipe Wells Campground, Death Valley, California November 14th, 2020

%p.project__para-1 Double Cluster - NGC 869 & NGC 884

%p.project__para-1 Telescope - Explore Scientific ED80
%p.project__para-1 Mount - Skywatcher HEQ5 Pro
%p.project__para-1 Camera - Canon Rebel T6i
%p.project__para-1 Aperture - f/6
%p.project__para-1 Shutter - 30 seconds
%p.project__para-1 ISO - 6400

%p.project__para-1 38 light frames | 21 dark frames | 143 bias frames

%p.project__para-1 19 minutes total integration time

%p.project__para-1 Images calibrated and stacked in AstroPixelProcessor