---

title: contact
date: 2018-04-30 23:53 PDT

---

%div.credits
	%h2.project__heading CONTACT

	%p.project__link
		= link_to "wholesomecircuits@gmail.com", "mailto:wholesomecircuits@gmail.com"

	%p.project__link
		= link_to "shaurjyab@gmail.com", "mailto:shaurjyab@gmail.com"

	%p.project__para 661.877.0374

	%p.project__link
		= link_to "Resume", "https://s3-us-west-1.amazonaws.com/wholesomecircuits/sb_resume.pdf"