---

title: DEATH CUBE
date: 2015-04-20 04:20 PDT

---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Y_CGyJrd0bE?rel=0&controls=0&showinfo=0", :width => "560"}

%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/deathcube/deathcube#{index}.jpg",class:'project__image'

%p.project__para-1 The Death Cube is a large format kinetic sculpture that reflects on materials, momentum and movement. Death Cube receives its kineticism from energy provided by the viewer. It is kept in motion by its mass which comes from its all steel construction. The Death Cube was designed and built by Shaurjya Banerjee in December 2015.


