---

title: DEATH CUBE
date: 2015-04-20 04:20 PDT

---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/Y_CGyJrd0bE?rel=0&controls=0&showinfo=0", :width => "560"}

%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/deathcube/deathcube#{index}.jpg",class:'project__image'


