---

title: GALAXIES
date: 2021-11-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/andromeda.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/andromeda.jpg", class:'single__image'

%p.project__para-1 The Andromeda Galaxy

%p.project__para The Andromeda Galaxy is our nearest galactic neighbor at an approximate distance of 2.54 million light years from Earth. There are an estimated 1 trillion stars in the Andromeda Galaxy, quite possibly many of them have Earth-like exoplanets orbiting them. I like to imagine that while we are imaging Andromeda, the inhabitants of Andromeda are imaging us!

%p.project__para The Andromeda Galaxy is approaching our own Milky Way Galaxy at a speed of about 68 miles per second, and is slated for a collision of cosmic proportions in about 4 billion years. The two galaxies will likely merge and form a giant elliptical galaxy or even possibly a large disc galaxy - Milkdromeda!

%p.project__para Shot from Templin Highway, California
%p.project__para October 16th, 2020

%p.project__para M31 - The Andromeda Galaxy

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 400

%p.project__para 78 light frames | 9 dark frames

%p.project__para 39 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/cigar_bodes.jpg", class:'single__image'

%p.project__para The Cigar Galaxy and Bode's Galaxy

%p.project__para M81 (left) and M82 (right) are a pair of galaxies located in the constellation Ursa Major, approximately 12 million light years from Earth.

%p.project__para Bode's Galaxy - M81 - is a grand design spiral galaxy with a diameter of 90,000 light years, which is about half the diameter of our own Milky Way galaxy. M81 has been studied extensively by astronomers both amatuer and professional since it was discovered in 1774.

%p.project__para The Cigar Galaxy - M82 is an irregular starburst galaxy, which is five times brighter than our Milky Way and has a center one hundred times brighter! SN2014J was a supernova detected in the Cigar Galaxy in January 2014. The supernova was discovered by chance during an undergraduate teaching session at the University of London Observatory. This galaxy is also home to the brightest pulsar yet known, M82 X-2.

%p.project__para The Cigar Galaxy and Bode's Galaxy - M81 & M82

%p.project__para Shot from Grandview Campground, California April 9th, 2021

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para %p.project__para Shutter - 45 seconds
%p.project__para ISO - 3200

%p.project__para 97 light frames | 37 dark frames
%p.project__para 72 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor
%p.project__para Post processed in Adobe Lightroom

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/leo_triplet.jpg", class:'single__image'

%p.project__para The Leo Triplet

%p.project__para The Leo Triplet, also known as the M66 group is a small group of galaxies about 35 million light-years away from Earth in the constellation Leo. This galaxy group consists of the spiral galaxies M65 - bottom left, M66 - top left, and NGC 3628 - right.

%p.project__para All three objects are large spiral galaxies. They look dissimilar to each other because their galactic disks are tilted at different angles relative to our line of sight from Earth. NGC 3628 is seen edge-on, with obscuring dust lanes cutting across the plane of the galaxy, while the disks of M66 and M65 are both inclined enough to show off their beautiful spiral structure. Gravitational interactions between galaxies in the group have also left telltale signs, including the warped and inflated disk of NGC 3628 and the drawn out spiral arms of M66.

%p.project__para This image was created from data gathered in the extremely dark and remote Grandview Campground in the White Mountains of California under excellent conditions for astronomy. These are quite possibly the darkest skies I have experienced to date, the perfect conditions for my first ever Galaxy Season!

%p.project__para Shot from Grandview Campground, California April 10th, 2021

%p.project__para The Leo Triplet - M65, M66, and NGC 3628

%p.project__para Telescope - Explore Scientific ED80
%p.project__para Mount - Skywatcher HEQ5 Pro
%p.project__para Camera - Canon Rebel T6i
%p.project__para Aperture - f/6
%p.project__para Shutter - 50 seconds
%p.project__para ISO - 6400

%p.project__para 68 light frames | 139 dark frames
%p.project__para 56 minutes total integration time

%p.project__para Images calibrated and stacked in AstroPixelProcessor

%p.project__para Post processed in Adobe Lightroom