---

title: goop_world_explorer
date: 2018-04-22 00:47 PDT
category: games

---

%h1.heading GOOP WORLD EXPLORER

%p.project__para Goop World Explorer is an open world exploration game created by Mike Leisz and Shaurjya Banerjee in 2017 using Unity3D.

%p.project__para Download Goop World Explorer <a href="https://s3-us-west-1.amazonaws.com/wholesomecircuits/goop_world.app.zip">now<./a>

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/goopworld/goopworld1.png", class:'single__image'

