---

title: LUZ
date: 2017-04-20 04:20 PDT
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/luz2.png"
---

%p.project__para-1 LUZ (‘light’ in Portuguese) is a kinetic sculpture that displays a 16mm found and processed footage film loop by Brazilian-American experimental filmmaker Eliane Lima. The device is handmade using a plethora of metalworking techniques by Indian kinetic sculptor Shaurjya Banerjee. 

%p.project__para  LUZ alludes to the idea of an extension of the gaze and the body of the spectator into the realm of the mechanical and extra-physical.

%p.project__para LUZ is currently on display in the main lobby at the Northwest Film Center in Portland, OR as a part of their permanent collection.


%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/luz/luz#{index}.jpg",class:'project__image'

