---

title: WHOLESOME FPV MARMOTTE 5"
date: 2020-05-26 21:43 PDT
category: drones
featured_img: "/assets/images/projects/drones/marmotte2.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/drones/marmotte3.jpg", class:'single__image'

%p.project__para-1 The Source Two is a lightweight 5” drone with an underslung battery. It pulls great stable footage with a GoPro, even in severely windy conditions. It is capable of running two different battery setups for different purposes. 

%div.project__image-container
	- 1.upto(3) do |index|
		= tag :img, src: "/assets/images/projects/drones/marmotte#{index}.jpg",class:'project__image'

%p.project__para-1 The Source Two is a lightweight 5” drone with an underslung battery. It pulls great stable footage with a GoPro, even in severely windy conditions. It is capable of running two different battery setups for different purposes. 


%p.project__para On a 1500 mAh 4S pack, it is very light and agile, with a very high thrust to weight ratio. With this setup it is excellent for freestyle and just throwing the quad around. It is very very smooth on BetaFlight 4.2 with RPM filtering.

%p.project__para On a 2600 mAh 4S pack, it is excellent for long range cruising and covering long distances with lots of flight time. This ability to do hybrid setups makes this quad very versatile, and is my go to FPV drone to take on trips.

%p.project__para These are the parts used in the Wholesome FPV Source Two -

%p.project__para TBS Source Two Frame
%p.project__para Matek F722STD Flight Controller 
%p.project__para Holybro Tekko32 Metal 4-in1 ESC 
%p.project__para iFlight Eco 2205 2400KV Motors 
%p.project__para Ethix S3 Watermelon Propellers 
%p.project__para Gens Ace 2600mAh  OR GOLDBATT 1500mAh 4S LiPo Battery
%p.project__para Caddx Ratel Starlight FPV Camera 
%p.project__para TBS Unify Pro32 HV 5.8GHz Video Transmitter 
%p.project__para Lumenier AXII LR 5.8GHz Antenna 
%p.project__para TBS Crossfire Nano RX 
%p.project__para Immortal T Antenna 
%p.project__para TBS M8N GPS module



%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/u86wtQpDGIo", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/8st7OTX5xs0", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/WK5jyY7WWqk", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/eqwMbgoQC1o", :width => "560"}