---

title: mfos
date: 2018-04-17 20:11 PDT
category: electronics
featured_img: "/assets/images/projects/mfos/mfos1.jpg"
---

%div.project__image-container
	- 1.upto(6) do |index|
		= tag :img, src: "/assets/images/projects/mfos/mfos#{index}.jpg",class:'project__image'

%h2.project__heading    

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/mfos/mfos7.jpg", class:'single__image'