---

title: MILKYWAY
date: 2021-08-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/milky_way_1.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/milky_way_1.jpg", class:'single__image'

%p.project__para-1 The Milky Way - Our Home

%p.project__para Shot from Mt. Pinos, California

%p.project__para August 11, 2019

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 3200


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/milky_way_2.jpg", class:'single__image'

%p.project__para Polaris

%p.project__para Shot from Mt. Pinos, California

%p.project__para August 11, 2019

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter -25 seconds
%p.project__para ISO - 1600


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/drone_lightpaint_1.jpg", class:'single__image'

%p.project__para Drone Lightpainting : Part 1

%p.project__para Shot from Mt. Pinos, California

%p.project__para June 3, 2020

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 13 seconds
%p.project__para ISO - 1600
