---

title: MOON
date: 2018-05-26 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/blood.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/blood_moon_sweep.jpg", class:'single__image'

%p.project__para-1 Blood Moon Progression

%p.project__para This shot is a composite of 5 images taken over the span of 2 hours in the early hours of the morning on January 31, 2018 from the total lunar eclipse. I remember staying up really late and shooting it from my parking lot at the time in the cold, but the absolute awe of seeing a total lunar eclipse for the first time made it totally worth it.

%p.project__para Shot from Santa Clarita, California
%p.project__para January 31, 2018

%p.project__para Lens - Canon EF-S 55-250mm f/4-5.6 IS STM
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 250mm
%p.project__para Aperture - f/6, f/11, f/5.6, f/5.6, f/5.6
%p.project__para Shutter - 1/200, 1/200, 1/8, 1/8, 2.5 second
%p.project__para ISO - 200, 200, 200, 800, 400

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/blood.jpg", class:'single__image'

%p.project__para Shot from Santa Clarita, California
%p.project__para January 31, 2018

%p.project__para Lens - Canon EF-S 55-250mm f/4-5.6 IS STM
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 250mm
%p.project__para Aperture - f/5.6
%p.project__para Shutter - 2.5 second
%p.project__para ISO - 400