---

title: NEOWISE
date: 2020-7-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/neowise_1.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/neowise_1.jpg", class:'single__image'

%p.project__para-1 Comet Neowise : Part 1

%p.project__para Shot from Angeles Crest Highway, California

%p.project__para July 18, 2020

%p.project__para Lens - Canon EF-S 18-55mm f/3.5-5.6 IS STM
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 24mm
%p.project__para Aperture - f/4.9
%p.project__para Shutter - 25 seconds

%p.project__para ISO - 200

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/neowise_2.jpg", class:'single__image'

%p.project__para Comet Neowise : Part 2

%p.project__para Shot from Angeles Crest Highway, California

%p.project__para July 18, 2020

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 25 seconds
%p.project__para ISO - 400
