---

title: PLEASE KNOCK
date: 2017-04-20 04:20 PST
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/pleaseknock2.png"

---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/CrlYYlTbTIE?rel=0&controls=0&showinfo=0", :width => "560"}

%div.project__image-container
	- 1.upto(9) do |index|
		= tag :img, src: "/assets/images/projects/please_knock/pls_knock#{index}.jpg",class:'project__image'


%p.project__para-1 Please Knock was a week long interactive performance sculpture by James Anderson and Shaurjya Banerjee. The two artists installed the complete contents of their shared living room into the WaveCave Gallery at CalArts and lived there for the week long duration of the piece. During this time participants would be welcome to come in if they knocked or observe through the glass doors of the gallery. The artist’s living room setup included a plethora of old and new audio and video synthesis, display and playback equipment such as CRT televisions, VHS decks, camcorders, gaming consoles and modular synthesizers.


%p.project__para-2 One of the major goals of the piece was to provide a performative outlet for our audiovisual synthesis activities while retaining the context and safety of the home, where one is at ease and there is little risk. The other major goal of the piece was to critique the emergent trend of shallow contrived interactions in the world of “technological art” - where a viewer enter a space, looks for the first and most obvious sensor based interaction, finds it, becomes disengaged, and then leaves.
