---

title: redblue
date: 2018-04-22 00:47 PDT
category: games

---

%h1.heading RED/BLUE

%div.project__single__image 
= tag :img, :src => "/assets/images/projects/redblue/redblue1.png", class:'single__image'

%p.project__para RED/BLUE is a simple 2 player digital board game with only two rules - players compete against each other to gain control of a majority of the board. You can move onto an unoccpied square, or a square occupied by your opponent, but you cannot move onto a square already occupied by you. 

%p.project__para RED/BLUE was created by Shaurjya Banerjee in 2018 using Processing.

%p.project__para
			= link_to "DOWNLOAD RED/BLUE for Mac OSX", "https://s3-us-west-1.amazonaws.com/wholesomecircuits/application.macosx.zip"

%p.project__para
			= link_to "DOWNLOAD RED/BLUE for Windows 32bit", "https://s3-us-west-1.amazonaws.com/wholesomecircuits/application.windows32.zip"

%p.project__para
			= link_to "DOWNLOAD RED/BLUE for Windows 64bit", "https://s3-us-west-1.amazonaws.com/wholesomecircuits/application.windows64.zip"
