---

title: resume
date: 2018-04-16 20:16 PDT
tags: 

---

%h1.project__heading SHAURJYA BANERJEE

%p.project_para kinetic sculptor | fabricator | electronics designer

//%p.project__para <a href="/">wholesomecircuits.com</a> | <a href="shaurjyab@gmail.com">shaurjyab@gmail.com</a>

%h2.project__heading EDUCATION

%p.project_para Bachelor of Fine Arts in Music Technology: Interaction, Intelligence & Design at California Institute of The Arts 2018
%p.project_para Apprentice to Trimpin - MacArthur Fellowship winning kinetic sculptor, sound artist and inventor based in Seattle


%h2.project__heading SKILLS

%p.project_para Metalworking
%p.project_para Electronics Design
%p.project_para PCB Design
%p.project_para Digital Fabrication

%h2.project__heading SOFTWARE/PROGRAMMING

%p.project_para Arduino
%p.project_para Unity3D
%p.project_para Cinema4D
%p.project_para Graphics Programming 
%p.project_para Digital Audio Workstations

%h2.project__heading WORK EXPERIENCE

%p.project_para Cinematographer and Camera Crane Operator - CalArts Video Studio 2017 - 2018
%p.project_para Media Conversion and Production Engineer - CalArts Video Studio 2017 - 2018
%p.project_para Teaching Assistant - Interface Design at CalArts 2016 - 2018
%p.project_para Teaching Assistant - Digital Fabrication at CalArts 2015 - 2018
%p.project_para Technical Assistant - Concert Production at CalArts 2015 - 2018
%p.project_para Quality Assurance Automation Programming Engineer - Kadenze 2015
%p.project_para Recording and Mixing Engineer - BlooperHouse Studios, Calcutta, India 2012 - 2014
