---

title: SCREENGRAZER
date: 2018-03-15 01:08 PDT
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/screengrazer2.png"
---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/oFOSuh2vHH4?rel=0&controls=0&showinfo=0", :width => "560"}

%p.project__para-1 Screengrazer is a mixed media kinetic sculpture that playfully critiques the wastefulness and redundancy of modern technology, and illustrates the intentionally designed fragility of modern technological objects like televisions and mobile phones.
