---

title: seamonster
date: 2018-03-29 21:45 PDT
tags: 

---

%p.project__para-1 SeaMonster is a CMOS-based 8 step multi function sequencer. It is a work in progress project, with working prototypes in use already. It can be used as a wavetable oscillator, and also as a multiplexer/demultiplexer for audio and control voltage.

%p.project__para-2 More information about this project can be found at my GitHub 

%p.project__para-3 https://github.com/shaurjyabanerjee/seamonster
