---

title: STAR TRAILS
date: 2020-12-26 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/trails_1.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/trails_1.jpg", class:'single__image'

%p.project__para-1 Sometimes I wonder if there are any co-incidences

%p.project__para Shot at White Tank Campground, Joshua Tree National Park, California

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 13 seconds
%p.project__para ISO - 800

%p.project__para 290 frames stacked in StarStax


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/trails_2.jpg", class:'single__image'

%p.project__para The best nights are starry nights

%p.project__para Shot at Hole In The Wall Campground, Mojave National Preserve, California

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 13 seconds
%p.project__para ISO - 400

%p.project__para 65 frames stacked in StarStax

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/trails_3.jpg", class:'single__image'

%p.project__para The Queen of The Hills

%p.project__para Shot in Mussoorie, Uttarakhand

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6i
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 13 seconds
%p.project__para ISO - 400

%p.project__para 70 frames stacked in StarStax