---

title: stereo dslrizer
date: 2018-04-04 18:34 PDT
category:

---

%p.project__para-1 The Stereo dSLR-izer is a device that enables the (near) automatic creation of high resolution 3D photographs using standard digital SLR cameras. It uses a motorized slider and remote camera control to take electromechanically assisted stereo photographs.
