---

title: WHOLESOME FPV TAYCAN 3" CINEWHOOP
date: 2020-05-26 21:43 PDT
category: drones
featured_img: "/assets/images/projects/drones/taycan2.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/drones/taycan2.jpg", class:'single__image'

%p.project__para-1 The Taycan is a cinewhoop suitable for carrying a full size GoPro Hero 7 while flying safely indoors and outdoors. It specializes in cinematic proximity footage. Its padded bumpers make it safe for flying indoors and close to humans and soft targets.

%div.project__image-container
	- 3.upto(5) do |index|
		= tag :img, src: "/assets/images/projects/drones/taycan#{index}.jpg",class:'project__image'

%p.project__para These videos demonstrate some of the slow motion and cinematic capabilities on the Taycan platform -

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/U4OS70UXuP8", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/GQmrhrFHamQ", :width => "560"}

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ffnBdIcPhkM", :width => "560"}

%p.project__para These are the parts used in the Wholesome FPV Taycan Cinewhoop -

%p.project__para Diatone Taycan MCX Cinewhoop Frame 
%p.project__para RunCam Nano 2 FPV Camera 
%p.project__para TBS Unify 5G8 VIdeo Transmitter 
%p.project__para MAMBA F405MINI MK3 Flight Controller 
%p.project__para MAMBA F25MK2 /25A ESC MAMBA Racing 
%p.project__para MB1408 4000Kv Brushless Motors 
%p.project__para Goldbatt 1500mAh 4S LiPo Battery 
%p.project__para TBS Crossfire Nano RX 
%p.project__para Immortal T Antenna 
%p.project__para Custom 3D Printed ReelSteady TPU GoPro mount
