---

title: TELESCOPES
date: 2021-08-1 21:43 PDT
category: astro
featured_img: "/assets/images/projects/astro/dv_widefield_3.jpg"

---

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/dv_widefield_2.jpg", class:'single__image'

%p.project__para-1 This is the rig I have used to capture all of my deep sky astrophotos so far. It is a compact refractor telescope with my DSLR camera attached to it, with a field flattener in between. Here are the details of the rig

%p.project__para Explore Scientific ED80 Refractor Telescope
%p.project__para Skywatcher HEQ5 Pro German Equatorial Mount
%p.project__para Canon Rebel T6i Camera
%p.project__para Hotec Field Flattener
%p.project__para SVBONY Extension Tubes
%p.project__para Celestron T-Ring for Canon EOS

%p.project__para Shot from Stovepipe Wells Campground, Death Valley, California
%p.project__para November 14th, 2020

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6s
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 10 seconds
%p.project__para ISO - 3200


%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/dv_widefield_1.jpg", class:'single__image'

%p.project__para The Best Nights are Starry Nights

%p.project__para Shot from Stovepipe Wells Campground, Death Valley, California November 14th, 2020

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6s
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 3200

%div.project__single__image
	= tag :img, :src => "/assets/images/projects/astro/dv_widefield_3.jpg", class:'single__image'

%p.project__para The Best Nights are Starry Nights

%p.project__para Shot from Stovepipe Wells Campground, Death Valley, California November 14th, 2020

%p.project__para Lens - Samyang 14mm f/2.8
%p.project__para Camera - Canon Rebel T6s
%p.project__para Focal Length - 14mm
%p.project__para Aperture - f/2.8
%p.project__para Shutter - 30 seconds
%p.project__para ISO - 3200