---

title: video
date: 2018-04-20 12:32 PDT
tags: 

---

%h2.project__heading STEREOSCOPIC SANDBOX

//STEREOSCOPIC SANDBOX VIDEO
%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/eb_U99okVR0?rel=0&showinfo=0", :width => "560"}

%p.project__para Stereoscopic Sandbox is a collection of stereoscopic computer graphics by Shaurjya Banerjee, Clay Burton and Vincent De La Torre as a part of the Stereoscopy: Wheatstone to VR class taught by Michael Scroggins in Fall 2017 at CalArts.

%h2.project__heading VIDEO DRUGS

//SB VIDEO GRAPHICS FINAL
%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/MAc8gRagO1Q?rel=0&showinfo=0", :width => "560"}

//DRUGFACE
%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/AJvvw--KRd4?rel=0&showinfo=0", :width => "560"}

//JRSA VIDEO GRAPHICS FINAL
%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/rPvSqJF8XsM?rel=0&showinfo=0", :width => "560"}

%p.project__para VIDEO DRUGS is an analog video synthesis and feedback duo by James Anderson and Shaurjya Banerjee