---

title: WALLPECKER
date: 2018-04-20 04:20 PST
category: sculptures
featured_img: "/assets/images/thumbnails/sculptures/wallpecker2.png"

---

%iframe.project__video{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ZizlFcz27Zo?rel=0&controls=0&showinfo=0", :width => "560"}

%p.project__para-1 Wallpecker is a mixed media kinetic sound sculpture that explores the power of small repetitive forces over large spans of time. It was on display at the WaveCave Gallery at CalArts for one week from the 19th to the 26th of February 2018.

%p.project__para-2 The metal ball was made of 1/8" thick mild steel and weighed 360 grams and the pompom was made of acrylic yarn and weighed 36 grams. Both objects were swung repeatedly at the walls of the gallery for the entire duration of the piece.
