/*
  Base global layout styles
*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  margin: 1rem;
  min-height: 60vmin;

  @media #{$break-sm-plus} {
    margin: 2rem;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

//All the white formatted text goes here
.gradient_snake, .maze_generator, .feedbake_snake, .feedbake_snake_sound,
.phyllotaxis, .border_inverted, .flowfield_inverted {
  //Text color
  color: white;

  //Formatting for links
  a {
    text-decoration: none;

    &:visited {
      color: white;
    }

    color: white;

    &:hover {
      color: magenta;
    }
  }

}

//All the black formatted text goes here
.grid_goop, .border, .flowfield {
  //Text color
  color: black;

  //Formatting for links
  a {
    text-decoration: none;

    &:visited {
      color: black;
    }

    color: black;

    &:hover {
      color: magenta;
    }
  }
}

.unready {
  display: none;
}
