/*
  Base global layout styles
*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  margin: 2rem;
  min-height: 60vmin;

  @media #{$break-sm-plus} {
    margin: 2rem;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.top_box{
  background: black;
  opacity: 0.7;
  padding: 10px;

  margin-bottom: 1rem;

   @media #{$break-sm-plus} {
    margin-bottom: 2rem;
   }
}

.home__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;

  @media #{$break-sm-plus} {
     grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
     grid-gap: 4rem;
  }
}

//Formatting for the home page links
.home__box {
  background: transparent;
  opacity: 0.85;
  height: 7vh;
  border-style: solid;
  border-width: 2px;


  @media #{$break-sm-plus} {
    height: 5vh;
  }

  padding: 50px 0;
  text-align: center;
  font-size: 1rem;
  padding-top: 5vh;
  color: white;

  @media #{$break-sm-plus} {
    font-size: 2.2rem;
    padding-top: 7vh;
  }
}

//Formatting for the home page links when the user hovers
.home__box:hover{
  opacity: 0.8;
  background: purple;
  color: rgb(183,255,0);
}

.home__box_top {
  backround: rgb(255, 100, 100);

}

//All the white formatted text goes here
.gradient_snake, .maze_generator, .feedbake_snake, .feedbake_snake_sound,
.phyllotaxis, .border_inverted, .flowfield_inverted {
  //Text color
  color: white;

  //Formatting for links
  a {
    text-decoration: none;

    &:visited {
      color: white;
    }

    color: white;

    &:hover {
      color: magenta;
    }
  }

}

//All the black formatted text goes here
.grid_goop, .border, .flowfield {
  //Text color
  color: black;

  //Formatting for links
  a {
    text-decoration: none;

    &:visited {
      color: black;
    }

    color: black;

    &:hover {
      color: magenta;
    }
  }
}

.unready {
  display: none;
}
