/*
  Base global layout styles
*/

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

main {
  margin: 1rem;
  min-height: 60vmin;

  @media #{$break-sm-plus} {
    margin: 2rem;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.unready {
  display: none;
}

.gradient_snake {
  color: white;
}

.phyllotaxis {
  color: white;
}

.border {
  color: black;
}
