.projects {
  main {
    margin: 0;
  }

  .project__thumbnails {
    padding-top: 0;
    padding-bottom: 0;
  }
}

//Do not display any html on our game and video pages
.games, .video {
  .project__meta {
    display: none;
  }
}

.project {
	margin: 50px;
}

.project__meta {
	margin-bottom: 20px;
}

.project__title {
	margin-bottom: 0;
}

.project__year {
	font-size: 24px;
}

.project__video {
	height: 500px;
	width: 100%;
}

//Format our project page image grids in here
.project__image-container, .project__thumbnails {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
	grid-gap: 30px;
}

.project__thumbnails {
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 0px;
}

.project__thumbnail {
  height: 100%;

  .project__image {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
  }
}

.project__image {
	max-width: 100%;
}

//Format single images to be at full width
.single__image {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project__para-1 {
	margin-top: 32px;
}

//Color WARNINGS in red
.warning {
  color: rgb(225,72,44);
}

//Fixes canvas so it does not scroll
canvas {
	position: fixed;
	top: 0;
	left: 0;
}