/*
  Typography based styles
  Import font styles and
  apply them here
*/

@import '../fonts/rubik';
@import '../fonts/rubik-mono-one';
@import '../fonts/vcr-osd-mono';

body {
  //Default CSS for small phone screens
  font-family: 'Rubik Mono One';
  font-size: 0.85rem;

  //For every size bigger than a tablet
  @media #{$break-sm-plus} {
    font-size: 1.4rem;
  }
}

h1, h2, h3, h4, h5, time {
  //Default CSS for small phone screens
	font-family: 'Rubik Mono One';
  font-size: 1.8rem;

  //For every size bigger than a tablet
  @media #{$break-sm-plus} {
    font-size: 2.6rem;
  }
}

//Assign pages that will use pixel fonts
body.electronics_apvfeedbake_info, .electronics_3dsandbox_info {
  //Default CSS for small phone screens
  font-family: 'Vcr Osd Mono';

  //For every size bigger than a tablet
  h1, h2, h3, h4, h5, time {
    font-family: 'Vcr Osd Mono';
  }
}
