/*
  Typography based styles
  Import font styles and
  apply them here
*/

@import '../fonts/rubik';
@import '../fonts/rubik-mono-one';

body {
  font-family: 'Rubik';
}

h1, time {
	font-family: 'Rubik Mono One';
}

h3 {
	font-family: 'Rubik Mono One';
	font-size: 28px;
}