/*
  Typography based styles
  Import font styles and
  apply them here
*/

@import '../fonts/rubik';
@import '../fonts/rubik-mono-one';
@import '../fonts/vcr-osd-mono';

body {
  text-align: justify;
  text-justify: inter-word;
  //Default CSS for small phone screens
  font-family: 'Rubik Mono One';
  font-size: 0.85rem;

  //For every size bigger than a tablet
  @media #{$break-sm-plus} {
    font-size: 1.4rem;
  }
}

h1, h2, h3, h4, h5, time {
  //Default CSS for small phone screens
	font-family: 'Rubik Mono One';
  font-size: 1.6rem;

  //For every size bigger than a tablet
  @media #{$break-sm-plus} {
    font-size: 2.6rem;
  }
}

.landing_page, .games_page {
  text-align: center;
  color: white;

  //Formatting for links
  a {
    text-decoration: none;

    &:visited {
      color: white;
    }
    color: white;
    &:hover {
      color: red;
    }
  }
}

//Center links on landing page
.box {
  height: 50vh;
  margin-top: 20vh;
}

//Set pixel font for tech info pages
body.electronics_apvfeedbake_info, .electronics_3dsandbox_info {
  text-align: justify;
  text-justify: inter-word;

  font-family: 'Vcr Osd Mono';
  h1, h2, h3, h4, h5, time {
    font-family: 'Vcr Osd Mono';
  }
}
