---
title: Wholesome Circuits | Home
layout: index
---

%h1.landing_page SHAURJYA BANERJEE
%h5.landing_page KINETIC SCULPTOR | AMATEUR ASTRONOMER | ELECTRONICS DESIGNER | DRONE PILOT

.home__boxes
	%a{:href => "/sculptures"}
		%div.home__box
			SCULPTURES

	%a{:href => "/electronics"}
		%div.home__box
			ELECTRONICS

	%a{:href => "/astro"}
		%div.home__box
			ASTRONOMY

	%a{:href => "/drones"}
		%div.home__box
			DRONES

	%a{:href => "/games"}
		%div.home__box
			GAMES

	%a{:href => "/video"}
		%div.home__box
			VIDEO ART

%footer
	%div.index__footer{:align => "center"}
		%a{:href => "/"} HOME &nbsp;|
		%a{:href => "/about_me"} ABOUT ME &nbsp;|
		%a{:href => "/contact"} CONTACT &nbsp;|
		%a{:href => "/credits"} CREDITS



