---
title: Wholesome Circuits | Home
layout: index
---


.home_boxes
	.home__box
		%h1.landing_page
			= link_to "SCULPTURES", "/sculptures"

	.home__box
		%h1.landing_page
			= link_to "ELECTRONICS", "/electronics"
	
	.home__box	
		%h1.landing_page
			= link_to "GAMES", "/games"

	.home__box
		%h1.landing_page
			= link_to "VIDEO", "/video"

