---
title: Wholesome Circuits | Home
layout: index
---


.box
	%h1.landing_page WELCOME TO

	%h1.landing_page WHOLESOMECIRCUITS

	%h1.landing_page
		= link_to "SCULPTURES", "/sculptures"

	%h1.landing_page
		= link_to "ELECTRONICS", "/electronics"

	%h1.landing_page
		= link_to "GAMES", "/games/maze_generator"

