/* rubik-regular - latin */
@font-face {
  font-family: 'Vcr Osd Mono';
  font-style: normal;
  font-weight: 400;
  src: local('VCR OSD MONO'), local('VCR OSD MONO'),
       url('/assets/fonts/vcr-osd-mono/vcr-osd-mono.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
